
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.clickable {
  cursor: pointer;
  text-decoration: none;
}

.modal {
  display: block;
}

.navbar {
  background:  rgb(0, 85, 137);
}

.navbar .container {
  background-image: url(/img/logo-collectivites-white.png);
  background-repeat: no-repeat;
  background-position: right;
}

.navbar-nav > li > a {
    line-height: 35px;
}

/*
|
| Dropdown-menu for date picker
|
*/
.date-picker ul.dropdown-menu li {
    white-space: normal;
}
.date-picker ul.dropdown-menu {
  width: 230px;
  min-width: auto;
}
.date-picker ul.dropdown-menu li a {
  display: inline-block;
  padding: 0px 4px;
  min-width: 32px;
  text-align: center;
}
.date-picker ul.dropdown-menu li a.today {
  background-color: #CCC;
}  
.date-picker ul.dropdown-menu li a.active {
  color: #FFF;
  text-decoration: none;
  background-color: #222;
}