<div class="row">
  <div class="alert alert-warning" ng-show="manager.transaction.error">
    <strong>Warning!</strong>
    {{ manager.transaction.error }}
  </div>
  
  <div class="alert alert-success" ng-show="successMessage">
    <button type="button" class="close" ng-click="successMessage = ''"><span>&times;</span></button>
    <strong>Success!</strong>
    {{ successMessage }}
  </div>

  <div class="alert alert-danger" ng-show="errorMessage">
    <button type="button" class="close" ng-click="successError = ''"><span>&times;</span></button>
    <strong>Error!</strong>
    {{ errorMessage }}
  </div>

  <div class="col-md-5" ng-hide="manager.transaction.error">
    <h2 title="Meetings & Events Group Agenda">
      MEGA <small>M&E Group Agenda</small>
      <button type="button" class="btn btn-primary pull-right" ng-click="editTransaction()">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        {{ msg.edit | translate:lang }}
      </button>
    </h2>
    <dl class="dl-horizontal well well-sm">
      <dt ng-show="manager.transaction.chiefOfVillage">{{ msg.chiefOfVillage | translate:lang }}</dt><dd>{{ manager.transaction.chiefOfVillage }}</dd>
      <dt ng-show="manager.transaction.resortManager">{{ msg.resortManager | translate:lang }}</dt><dd>{{ manager.transaction.resortManager }}</dd>
    	<dt ng-show="manager.transaction.resort">{{ msg.resort | translate:lang }}</dt><dd>{{ manager.transaction.resort }}</dd>
    	<dt ng-show="manager.transaction.salePerson">{{ msg.salePerson | translate:lang }}</dt><dd>{{ manager.transaction.salePerson }}</dd>
      <dt ng-show="manager.transaction.executivePerson">{{ msg.executivePerson | translate:lang }}</dt><dd>{{ manager.transaction.executivePerson }}</dd>
    	<dt ng-show="manager.transaction.eventManager">{{ msg.eventManager | translate:lang }}</dt><dd>{{ manager.transaction.eventManager }}</dd>
    	<dt ng-show="manager.transaction.company">{{ msg.company | translate:lang }}</dt><dd>{{ manager.transaction.company }}</dd>
      <dt ng-show="manager.transaction.remarks">{{ msg.remarks | translate:lang }}</dt><dd>{{ manager.transaction.remarks }}</dd>
      <dt ng-show="manager.transaction.companyActivity">{{ msg.companyActivity | translate:lang }}</dt>
      <dd ng-hide="manager.transaction.companyActivity == 'other'">{{ msg[manager.transaction.companyActivity] | translate:lang }}</dd>
      <dd ng-show="manager.transaction.companyActivity == 'other'">{{ manager.transaction.companyActivityOther }}</dd>
      <dt ng-show="manager.transaction.aimOfMeeting">{{ msg.aimOfMeeting | translate:lang }}</dt>
      <dd ng-hide="manager.transaction.aimOfMeeting == 'other'">{{ msg[manager.transaction.aimOfMeeting] | translate:lang }}</dd>
      <dd ng-show="manager.transaction.aimOfMeeting == 'other'">{{ manager.transaction.aimOfMeetingOther }}</dd>
      <div ng-repeat="leader in manager.transaction.leaders">
        <dt>{{ msg.leaderName | translate:lang }}</dt><dd>{{ leader.leaderName }}</dd>
        <dt>{{ msg.leaderFunction | translate:lang }}</dt>
        <dd ng-hide="leader.leaderFunction == 'other'">{{ msg[leader.leaderFunction] | translate:lang }}</dd>
        <dd ng-show="leader.leaderFunction == 'other'">{{ leader.leaderFunctionOther }}</dd>
      </div>
    	<dt ng-show="manager.transaction.dateFrom">{{ msg.dates | translate:lang }}</dt>
      <dd ng-show="manager.transaction.dateFrom">{{ msg.from | translate:lang }} {{ manager.transaction.dateFrom | date: 'yyyy-MM-dd' }} {{ msg.to | translate:lang }} {{ manager.transaction.dateTo | date: 'yyyy-MM-dd' }}</dd>
    	<dt ng-show="manager.transaction.nbPaxRealNa">{{ msg.numbreOfPeople | translate:lang }}</dt>
      <dd ng-show="manager.transaction.nbPaxRealNa">{{ manager.transaction.nbPaxRealNa }}</dd>
      <dt>{{ msg.transactionNumber | translate:lang }}</dt>
      <dd>{{ manager.transaction.number }}</dd>
      <dt ng-show="manager.transaction.numberLinked">{{ msg.transactionNumberLinked | translate:lang }}</dt>
      <dd ng-show="manager.transaction.numberLinked">{{ manager.transaction.numberLinked }}</dd>
    </dl>
  </div>

  <div class="col-md-3" ng-hide="manager.transaction.error">
    <h2>{{ msg.services | translate:lang }}</h2>
    <ul class="list-unstyled">
      <li><a href="service/conferenceInformation">{{ msg.conferenceInformation | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'conferenceInformation'}:true).length">{{ (manager.transaction.services | filter:{type:'conferenceInformation'}:true).length }}</span>
      </li>
      <li><a href="service/eventPersonalization">{{ msg.eventPersonalization | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'eventPersonalization'}:true).length">{{ (manager.transaction.services | filter:{type:'eventPersonalization'}:true).length }}</span>
      </li>
      <li><a href="service/vipOffered">{{ msg.vipOffered | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'vipOffered'}:true).length">{{ (manager.transaction.services | filter:{type:'vipOffered'}:true).length }}</span>
      </li>
      <li><a href="service/vip">{{ msg.vip | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'vip'}:true).length">{{ (manager.transaction.services | filter:{type:'vip'}:true).length }}</span>
      </li>
      <li><a href="service/gift">{{ msg.gift | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'gift'}:true).length">{{ (manager.transaction.services | filter:{type:'gift'}:true).length }}</span>
      </li>
      <li><a href="service/arrivalNoTransfer">{{ msg.arrivalNoTransfer | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'arrivalNoTransfer'}:true).length">{{ (manager.transaction.services | filter:{type:'arrivalNoTransfer'}:true).length }}</span>
      </li>
      <li><a href="service/departNoTransfer">{{ msg.departNoTransfer | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'departNoTransfer'}:true).length">{{ (manager.transaction.services | filter:{type:'departNoTransfer'}:true).length }}</span>
      </li>
      <li><a href="service/transferArrival">{{ msg.transferArrival | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'transferArrival'}:true).length">{{ (manager.transaction.services | filter:{type:'transferArrival'}:true).length }}</span>
      </li>
      <li><a href="service/transfertDepart">{{ msg.transfertDepart | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'transfertDepart'}:true).length">{{ (manager.transaction.services | filter:{type:'transfertDepart'}:true).length }}</span>
      </li>
      <li><a href="service/securityInformation">{{ msg.securityInformation | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'securityInformation'}:true).length">{{ (manager.transaction.services | filter:{type:'securityInformation'}:true).length }}</span>
      </li>
      <li><a href="service/coffeeBreaks">{{ msg.coffeeBreaks | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'coffeeBreaks'}:true).length">{{ (manager.transaction.services | filter:{type:'coffeeBreaks'}:true).length }}</span>
      </li>
      <li><a href="service/cocktails">{{ msg.cocktails | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'cocktails'}:true).length">{{ (manager.transaction.services | filter:{type:'cocktails'}:true).length }}</span>
      </li>
      <li><a href="service/restaurantIncluded">{{ msg.restaurantIncluded | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'restaurantIncluded'}:true).length">{{ (manager.transaction.services | filter:{type:'restaurantIncluded'}:true).length }}</span>
      </li>
      <li><a href="service/restaurantExtra">{{ msg.restaurantExtra | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'restaurantExtra'}:true).length">{{ (manager.transaction.services | filter:{type:'restaurantExtra'}:true).length }}</span>
      </li>
      <li><a href="service/additionalMealsArrival">{{ msg.additionalMealsArrival | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'additionalMealsArrival'}:true).length">{{ (manager.transaction.services | filter:{type:'additionalMealsArrival'}:true).length }}</span>
      </li>
      <li><a href="service/additionalMealsDepart">{{ msg.additionalMealsDepart | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'additionalMealsDepart'}:true).length">{{ (manager.transaction.services | filter:{type:'additionalMealsDepart'}:true).length }}</span>
      </li>
      <li><a href="service/dailyMeals">{{ msg.dailyMeals | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'dailyMeals'}:true).length">{{ (manager.transaction.services | filter:{type:'dailyMeals'}:true).length }}</span>
      </li>
      <li><a href="service/cooking">{{ msg.cooking | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'cooking'}:true).length">{{ (manager.transaction.services | filter:{type:'cooking'}:true).length }}</span>
      </li>
      <li><a href="service/caterer">{{ msg.caterer | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'caterer'}:true).length">{{ (manager.transaction.services | filter:{type:'caterer'}:true).length }}</span>
      </li>
      <li><a href="service/conferenceRooms">{{ msg.conferenceRooms | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'conferenceRooms'}:true).length">{{ (manager.transaction.services | filter:{type:'conferenceRooms'}:true).length }}</span>
      </li>
      <li><a href="service/basicEquipment">{{ msg.basicEquipment | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'basicEquipment'}:true).length">{{ (manager.transaction.services | filter:{type:'basicEquipment'}:true).length }}</span>
      </li>
      <li><a href="service/rentalEquipment">{{ msg.rentalEquipment | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'rentalEquipment'}:true).length">{{ (manager.transaction.services | filter:{type:'rentalEquipment'}:true).length }}</span>
      </li>
      <li><a href="service/discovery">{{ msg.discovery | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'discovery'}:true).length">{{ (manager.transaction.services | filter:{type:'discovery'}:true).length }}</span>
      </li>
      <li><a href="service/otherServices">{{ msg.otherServices | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'otherServices'}:true).length">{{ (manager.transaction.services | filter:{type:'otherServices'}:true).length }}</span>
      </li>
      <li><a href="service/spa">{{ msg.spa | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'spa'}:true).length">{{ (manager.transaction.services | filter:{type:'spa'}:true).length }}</span>
      </li>
      <li><a href="service/photographer">{{ msg.photographer | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'photographer'}:true).length">{{ (manager.transaction.services | filter:{type:'photographer'}:true).length }}</span>
      </li>
      <li><a href="service/spectacle">{{ msg.spectacle | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'spectacle'}:true).length">{{ (manager.transaction.services | filter:{type:'spectacle'}:true).length }}</span>
      </li>
      <li><a href="service/sports">{{ msg.sports | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'sports'}:true).length">{{ (manager.transaction.services | filter:{type:'sports'}:true).length }}</span>
      </li>
      <li><a href="service/shop">{{ msg.shop | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'shop'}:true).length">{{ (manager.transaction.services | filter:{type:'shop'}:true).length }}</span>
      </li>
      <li><a href="service/skiRental">{{ msg.skiRental | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'skiRental'}:true).length">{{ (manager.transaction.services | filter:{type:'skiRental'}:true).length }}</span>
      </li>
      <li><a href="service/skiBootRental">{{ msg.skiBootRental | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'skiBootRental'}:true).length">{{ (manager.transaction.services | filter:{type:'skiBootRental'}:true).length }}</span>
      </li>
      <li><a href="service/skiInstructor">{{ msg.skiInstructor | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'skiInstructor'}:true).length">{{ (manager.transaction.services | filter:{type:'skiInstructor'}:true).length }}</span>
      </li>
      <li><a href="service/skiInsurance">{{ msg.skiInsurance | translate:lang }}</a>
        <span class="badge" ng-show="(manager.transaction.services | filter:{type:'skiInsurance'}:true).length">{{ (manager.transaction.services | filter:{type:'skiInsurance'}:true).length }}</span>
      </li>
      
    </ul>
  </div>

  <div class="col-md-4" ng-hide="manager.transaction.error">
    <h2>{{ msg.documents | translate:lang }}
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ msg.print | translate:lang }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">{{ msg.printProgram | translate:lang }}</a></li>
          <li><a href="#">{{ msg.printTables | translate:lang }}</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">{{ msg.printAll | translate:lang }}</a></li>
        </ul>
      </div>
    </h2>

    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="javascript:void(0)">{{ msg.infoLetter | translate:lang }}</a></li>
          <li><a href="javascript:void(0)">{{ msg.importedInfoLetter | translate:lang }}</a></li>
          <li><a href="javascript:void(0)">{{ msg.OpenTextForProgram | translate:lang }}</a></li>
        </ul>
      </div>
    </div>

    <p>
      <button type="button" class="btn btn-primary btn-block">
        {{ msg.programCreation | translate:lang }}
      </button>
      <button type="button" class="btn btn-default btn-block">
        {{ msg.emailSending | translate:lang }}
      </button>
      <button type="button" class="btn btn-default btn-block">
        {{ msg.calculateService | translate:lang }}
      </button>
    </p>

    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <a href="contractualExtras">{{ msg.contractualExtras | translate:lang }}</a>
            <!--span class="badge" ng-show="(manager.transaction.services | filter:{payment:'paymentCustomer'}:true).length">{{ (manager.transaction.services | filter:{payment:'paymentCustomer'}:true).length }}</span-->
            <span class="label label-warning">{{ (manager.transaction.services | filter:paymentCustomerResort).length }}/{{ (manager.transaction.services | filter:{payment:'paymentCustomer'}:true).length }}</span>
          </li>
          <li><a href="javascript:void(0)">{{ msg.nonContractualExtras | translate:lang }}</a></li>
          <li><a href="javascript:void(0)">{{ msg.clubMedExtras | translate:lang }}</a></li>
          <li><a href="javascript:void(0)">{{ msg.planningReport | translate:lang }}</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div ng-include src="template"></div>

</div>