<div>
  <div class="modal-backdrop fade in"></div>
  <div class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" ng-click="closeTemplate()"><span>&times;</span></button>
          <h4 class="modal-title">{{ label.transactionNumber | translate:lang }} {{ transaction.number | translate:lang }}</h4>
        </div>
        
        <div class="modal-body">
          
          <form name="formTransaction" class="form-horizontal">
            <div class="form-group">
              <label for="chiefOfVillage" class="col-sm-5 control-label">{{ label.chiefOfVillage | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="chiefOfVillage" ng-model="transaction.chiefOfVillage" placeholder="{{ label.chiefOfVillage | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="resortManager" class="col-sm-5 control-label">{{ label.resortManager | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="resortManager" ng-model="transaction.resortManager" placeholder="{{ label.resortManager | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="resort" class="col-sm-5 control-label">{{ label.resort | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="resort" ng-model="transaction.resort" placeholder="{{ label.resort | translate:lang }}">
              </div>
            </div>
            <!--div class="form-group">
              <label for="salePerson" class="col-sm-5 control-label">{{ label.salePerson | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="salePerson" ng-model="transaction.salePerson" placeholder="{{ label.salePerson | translate:lang }}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="executivePerson" class="col-sm-5 control-label">{{ label.executivePerson | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="executivePerson" ng-model="transaction.executivePerson" placeholder="{{ label.executivePerson | translate:lang }}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="eventManager" class="col-sm-5 control-label">{{ label.eventManager | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="eventManager" ng-model="transaction.eventManager" placeholder="{{ label.eventManager | translate:lang }}" readonly>
              </div>
            </div-->
            <div class="form-group">
              <label for="company" class="col-sm-5 control-label">{{ label.company | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="company" ng-model="transaction.company" placeholder="{{ label.company | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="remarks" class="col-sm-5 control-label">{{ label.remarks | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="remarks" ng-model="transaction.remarks" placeholder="{{ label.remarks | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="companyActivity" class="col-sm-5 control-label">{{ label.companyActivity | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="companyActivity" ng-model="transaction.companyActivity" placeholder="{{ label.companyActivity | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="aimOfMeeting" class="col-sm-5 control-label">{{ label.aimOfMeeting | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="aimOfMeeting" ng-model="transaction.aimOfMeeting" placeholder="{{ label.aimOfMeeting | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="leader" class="col-sm-5 control-label">{{ label.leader | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="leader" ng-model="transaction.leader" placeholder="{{ label.leader | translate:lang }}">
              </div>
            </div>
            <div class="form-group">
              <label for="leaderFunction" class="col-sm-5 control-label">{{ label.leaderFunction | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="leaderFunction" ng-model="transaction.leaderFunction" placeholder="{{ label.leaderFunction | translate:lang }}">
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': formTransaction.dateFrom.$invalid}">
              <label for="dateFrom" class="col-sm-5 control-label">{{ label.dateFrom | translate:lang }}</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <input type="date" class="form-control" name="dateFrom" ng-model="transaction.dateFrom" placeholder="{{ label.formatDate | translate:lang }}" required>
                  <div data-date-picker data-model="transaction.dateFrom" data-lang="{{ lang }}" data-label="label"></div>
                </div>
              </div>
            </div>

            <div class="form-group"  ng-class="{'has-error': formTransaction.dateTo.$invalid}">
              <label for="dateTo" class="col-sm-5 control-label">{{ label.dateTo | translate:lang }}</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <input type="date" class="form-control" name="dateTo" ng-model="transaction.dateTo" placeholder="{{ label.formatDate | translate:lang }}" required>
                  <div data-date-picker data-model="transaction.dateTo" data-lang="{{ lang }}" data-label="label"></div>
                </div>
              </div>
            </div>

            <div class="form-group"  ng-class="{'has-error': formTransaction.nbPaxInit.$invalid}">
              <label for="nbPaxInit" class="col-sm-5 control-label">{{ label.numbreOfPeople | translate:lang }}</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" name="nbPaxInit" ng-model="transaction.nbPaxInit" placeholder="{{ label.numbreOfPeople | translate:lang }}" ng-pattern="/^[0-9]*$/">
              </div>
            </div>
          </form>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeTemplate()">Close</button>
          <button type="button" class="btn btn-primary" ng-click="saveTransaction(transaction)" ng-disabled="formTransaction.$invalid">Save changes</button>
        </div>

      </div>
    </div>
  </div>
</div>
