<div>
  <div class="modal-backdrop fade in"></div>
  <div class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" ng-click="cancelLine()"><span>&times;</span></button>
          <h4 class="modal-title">{{ msg[type] | translate:lang }}</h4>
        </div>
        
        <div class="modal-body">
          
          <form name="formLine" class="form-horizontal">

           <div ng-include="templateField"></div>

            <div class="form-group" ng-class="{'has-error': formLine.comment.$invalid}">
              <label for="comment" class="col-sm-4 control-label">{{ msg.comment | translate:lang }}</label>
              <div class="col-sm-8">
                <textarea class="form-control" name="comment" rows="6" ng-maxlength="300" ng-model="line.comment"></textarea>
              </div>
            </div>
          </form>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancelLine()">{{ msg.cancel | translate:lang }}</button>
          <button type="button" class="btn btn-primary" ng-click="saveLine(line)" ng-disabled="formLine.$invalid">{{ msg.save | translate:lang }}</button>
        </div>

      </div>
    </div>
  </div>
</div>
