<div class="col-md-8">

  <h2>
    {{ msg[type] | translate:lang }}
    <button type="button" class="btn btn-primary pull-right" ng-click="addLine()">
      <span class="glyphicon glyphicon-plus"></span>
      {{ msg.addLine | translate:lang }}
    </button>
  </h2>

  <div class="alert alert-info" ng-hide="(manager.transaction.services | filter:{type:type}).length">
    {{ msg.noLine | translate:lang }}
  </div>

  <table class="table table-hover" ng-show="(manager.transaction.services | filter:{type:type}).length">
    <thead>
      <tr>
        <th>{{ msg.date | translate:lang }}</th>
        <th>{{ msg.prestation | translate:lang }}</th>
        <th>{{ msg.quantity | translate:lang }}</th>
        <th>{{ msg.price | translate:lang }}</th>
        <th>{{ msg.payment | translate:lang }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="line in manager.transaction.services | filter:{type:type} track by $index">
        <th scope="row">{{ line.date | date: 'yyyy-MM-dd' }}</th>
        <td>{{ line.prestation }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.price }}</td>
        <td>{{ line.payment }}</td>
        <td>
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="editLine(line)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="copyLine(line)"><span class="glyphicon glyphicon-copy"></span></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="deleteLine(line)"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
        </td>
      </tr>
      <tr ng-repeat-end ng-show="line.comment"><td></td><td colspan="5"><i>{{ line.comment }}</i></td></tr>
    </tbody>
  </table>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <button type="button" class="btn btn-default btn-sm" ng-click="editComment('commentProduction')"><span class="glyphicon glyphicon-pencil"></span></button>
        {{ msg.commentProduction | translate:lang }}
      </h3>
    </div>
    <div class="panel-body">
      <p ng-hide="manager.transaction[type].commentProduction">{{ msg.noComment | translate:lang }}</p>
      <p ng-show="manager.transaction[type].commentProduction">{{ manager.transaction[type].commentProduction }}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <button type="button" class="btn btn-default btn-sm" ng-click="editComment('commentResort')"><span class="glyphicon glyphicon-pencil"></span></button>
        {{ msg.commentResort | translate:lang }}
      </h3>
    </div>
    <div class="panel-body">
      <p ng-hide="manager.transaction[type].commentResort">{{ msg.noComment | translate:lang }}</p>
      <p ng-show="manager.transaction[type].commentResort">{{ manager.transaction[type].commentResort }}</p>
    </div>
  </div>
</div>

<div ng-include src="template"></div>