<div class="col-md-9">

  <h2>
    {{ msg[type] | translate:lang }}
    <button type="button" class="btn btn-primary pull-right" ng-click="addLine()">
      <span class="glyphicon glyphicon-plus"></span>
      {{ msg.addLine | translate:lang }}
    </button>
  </h2>

  <div class="alert alert-info" ng-hide="(manager.transaction.services | filter:{type:type}:true).length">
    {{ msg.noLine | translate:lang }}
  </div>

  <div ng-include="templateType"></div>

</div>

<div class="col-md-3">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <button type="button" class="btn btn-default btn-sm" ng-click="editComment('commentProduction')"><span class="glyphicon glyphicon-pencil"></span></button>
        {{ msg.commentProduction | translate:lang }}
      </h3>
    </div>
    <div class="panel-body">
      <p ng-hide="manager.transaction[type].commentProduction">{{ msg.noComment | translate:lang }}</p>
      <i ng-show="manager.transaction[type].commentProduction">{{ manager.transaction[type].commentProduction }}</i>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <button type="button" class="btn btn-default btn-sm" ng-click="editComment('commentResort')"><span class="glyphicon glyphicon-pencil"></span></button>
        {{ msg.commentResort | translate:lang }}
      </h3>
    </div>
    <div class="panel-body">
      <p ng-hide="manager.transaction[type].commentResort">{{ msg.noComment | translate:lang }}</p>
      <i ng-show="manager.transaction[type].commentResort">{{ manager.transaction[type].commentResort }}</i>
    </div>
  </div>
</div>

<div ng-include src="template"></div>