<table class="table" ng-show="(manager.transaction.services | filter:{type:type}:true).length">
  <thead>
    <tr>
      <th>{{ msg.date | translate:lang }}</th>
      <th>{{ msg.roomName | translate:lang }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="line in manager.transaction.services | filter:{type:type}:true track by $index">
      <th>{{ line.date | date: 'yyyy-MM-dd' }}</th>
      <td>{{ line.roomName }}</td>
      <td>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm" ng-click="editLine(line)"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button" class="btn btn-default btn-sm" ng-click="copyLine(line)"><span class="glyphicon glyphicon-copy"></span></button>
          <button type="button" class="btn btn-default btn-sm" ng-click="deleteLine(line)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </td>
    </tr>
    <tr ng-repeat-end ng-show="line.comment"><td></td><td colspan="2"><small><i>{{ line.comment }}</i></small></td></tr>
  </tbody>
</table>